.App {
    font-size: 24px;
}

.customer {
    color: aqua;
    font-size: 16px;
}

.height100 {
    height: 100%;
}

.my-content {
    display: flex;
    flex-direction: column;
    .detail-content {
        flex-grow: 1;
    }
}