@font-face {
  font-family: 'iconfont';
  /* project id 591567 */
  src: url("//at.alicdn.com/t/font_591567_8g186ccjs7l23xr.eot");
  src: url("//at.alicdn.com/t/font_591567_8g186ccjs7l23xr.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_591567_8g186ccjs7l23xr.woff") format("woff"), url("//at.alicdn.com/t/font_591567_8g186ccjs7l23xr.ttf") format("truetype"), url("//at.alicdn.com/t/font_591567_8g186ccjs7l23xr.svg#iconfont") format("svg"); }

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-c1:before {
  content: '\e60b'; }

.icon-c2:before {
  content: '\e60c'; }

.icon-c3:before {
  content: '\e609'; }

.icon-c4:before {
  content: '\e604'; }

.icon-c5:before {
  content: '\e602'; }

.icon-c6:before {
  content: '\e608'; }

.icon-c7:before {
  content: '\e603'; }

.icon-c8:before {
  content: '\e601'; }

.icon-c9:before {
  content: '\e62c'; }

.icon-c10:before {
  content: '\e60a'; }

.App {
  font-size: 24px; }

.flex-column {
  display: flex;
  flex-direction: column; }

.flex-content {
  flex: auto;
  position: relative; }
  .flex-content .inherit-all {
    position: absolute;
    width: 100%;
    height: 100%; }

.customer {
  color: aqua;
  font-size: 16px; }

.height100 {
  height: 100%; }

.my-content {
  display: flex;
  flex-direction: column; }
  .my-content .detail-content {
    flex: auto;
    position: relative; }

.add-title {
  text-align: center;
  border-bottom: 1px solid sandybrown; }
  .add-title i {
    float: left;
    font-size: 20px;
    line-height: 46px; }
  .add-title .form-inline {
    padding-right: 0px; }

.price {
  padding: 1rem 0; }

.categories {
  background-color: #f2f2f2;
  padding-top: 16px;
  border-radius: 5px;
  text-align: center; }
  .categories .category-item {
    width: 20%;
    display: flex;
    flex-direction: column;
    cursor: pointer; }
    .categories .category-item i {
      font-size: 1.6rem; }
    .categories .category-item.actived {
      color: #007bff; }
  .categories .use-ctn .text-use {
    display: block;
    width: 100%;
    text-align: left;
    color: #333;
    border: 0;
    padding: 5px 0;
    background: inherit;
    padding-bottom: 5px;
    border-bottom: 1px solid #e4e4e4; }
  .categories .use-ctn .use-list {
    padding: 10px 0;
    display: flex;
    align-content: center;
    overflow-x: auto; }
    .categories .use-ctn .use-list .use-item {
      display: inline-block;
      min-width: 60px;
      height: 24px;
      line-height: 24px;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.3);
      color: #fff;
      cursor: pointer; }
      .categories .use-ctn .use-list .use-item + .use-item {
        margin-left: 10px; }

.calculator {
  background-color: #000;
  color: #fff;
  padding-top: 10px; }
  .calculator .price-ctn {
    text-align: right; }
    .calculator .price-ctn .processing {
      height: 16px;
      font-size: 12px; }
    .calculator .price-ctn .result {
      height: 30px;
      font-size: 24px; }
  .calculator .facker-btn {
    border: 0;
    height: 30px;
    background-color: inherit;
    color: #fff;
    width: 25%;
    display: inline-block;
    cursor: pointer; }

.chart .time-bar {
  text-align: center; }
  .chart .time-bar input {
    border: 0; }

.chart #myCharts {
  height: 400px;
  width: 100%; }

.chart .data-ctn {
  padding: 0 15px; }
  .chart .data-ctn .top-ctn {
    text-align: right;
    line-height: 20px;
    padding: 5px 0px;
    border-bottom: 1px solid #f2f2f2; }
    .chart .data-ctn .top-ctn .data-title {
      font-size: 20px;
      color: burlywood; }
    .chart .data-ctn .top-ctn .data-price {
      display: inline-block;
      padding-left: 20px;
      font-size: 12px;
      color: greenyellow; }
      .chart .data-ctn .top-ctn .data-price.red {
        color: red; }
